<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Yanitta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Yanitta.Properties.Settings>
      <setting name="ProfilesFileName" serializeAs="String">
        <value>..\..\Yanitta\Profiles.Original.xml</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcessName" serializeAs="String">
        <value>wow</value>
      </setting>
      <setting name="UpdateOffset" serializeAs="String">
        <value>https://raw.github.com/Konctantin/Yanitta/master/Yanitta/offsets.xml</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>auto</value>
      </setting>
    </Yanitta.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
